@model Pizza;

<div class="container">
    <h1 class="display-4 mb-4">Details</h1>

        <div class="list-unstyled">
            <div class="card">
                <h2 class="text-center">@Model.Name</h2>
                <div class="card-body">
                    <img src="@Model.Image" width="80%" />
                    <div class="card-text">
                        <p>@Model.Description</p>
                    </div>
                    <div class="text-danger">@Model.Price €</div>
                </div>
            </div>
        </div>

</div>

