
@{
    ViewData["Title"] = "Home Pagee";
    //<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

@model List<Pizza>;


<div class="container">
    <h1 class="display-4 mb-4">Pizzas</h1>

        <ul class="row list-unstyled">
        @foreach (Pizza pizza in Model)
        {
            <li class="col-4">
                <div class="card">
                    <h3 class="text-center">@pizza.Name</h3>
                    <div class="card-body">
                        <img src="@pizza.Image" width="100%" />
                        <div class="card-text">
                            <p>@pizza.Description</p>
                        </div>
                        <div class="btn-dark">@pizza.Price</div>
                    </div>
                </div>
            </li>
        }
        </ul>

</div>
